.wrapper{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.background-container{
    width: 100%;
    min-height: 70.5vh;
    display: flex; 
}
.bg-1{
    flex: 1;
    background-color: #1a1c1f;
    height: 300px;
}
.bg-2{
    flex: 1;
    background-color: #1a1c1f;
    height: 300px;
}

.heroo {
    position: relative;
  margin-top: 70px;
    overflow: visible;
    z-index: 1;
  }
  
  .heroo::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    transform: translateY(-0%);
    /* overflow: hidden; */
    z-index: -1;
    opacity: 0.3;
    filter: blur(2px);
    background: linear-gradient(to top right, #949c96, #1ac583);
    clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 25.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
    -webkit-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -o-transform: translateY(-0%);
    -webkit-filter: blur(2px);
}

.about-container{
    width: 100%;
    min-height: 35vh;
    position: absolute;
    background-color: #1a1c1f;
    color: white;
    /* box-shadow: 24px 24px 30px #6d8dad; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 40px; */
    border-radius: 5px;
}
.image-container{
    flex: 1;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
}
.text-container h1{
    font-size: 50px;
    /* padding: 20px 0px; */
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    margin: 30px 0px;
    background: linear-gradient(90deg, rgba(50,168,56,1) 0%, rgba(50,168,56,1) 50%, rgba(87,194,33,1) 50%, rgba(87,194,33,1) 100%);
    border: 2px solid transparent;
    color: white;
    border-radius: 3px;
    transition: .3s all ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.text-container a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1600px){
    .about-container{
        width: 90%;
    }
    .image-container img{
        width: 400px;
        height: 400px;
    }
    .text-container h1{
        font-size: 50px;
    }
}
@media screen and ( max-width: 1100px){
    .about-container{
        flex-direction: column;
        margin-top: 10px;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .text-container {
        align-items: center;
        margin-top: 10px;
    }
    h1{
        margin-top: 10px;
    }
}

