/* Leaderboard container */
.leaderboard-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:  #1a1c1f;
    padding: 50px;
    box-sizing: border-box;
  }
  .leader {
    position: relative;
  /* margin-top: 30px; */
    overflow: visible;
  }
  
  .leader::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    transform: translateY(-0%);
    overflow: hidden;
    opacity: 0.3;
    filter: blur(2px);
    background: linear-gradient(to top right, #949c96, #1ac583);
    clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 25.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
    -webkit-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -o-transform: translateY(-0%);
    -webkit-filter: blur(2px);
}
  h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: white;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
  }
  
  th {
    background-color: #24262b;
    color: white;
    position: relative;
    cursor: pointer;
  }
  
  .active-sort::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right: 10px solid #1a1a1a;
  }
  
  td:nth-child(3) {
    font-size: 20px;
    color: rgb(42, 207, 42);
  }
  
  .booster-icon {
    color: #00ff00;
  }
  
  .no-booster-icon {
    color: #ff0000;
  }
  
  /* Button styles */
  .sort-btn {
    background-color: #1a1709;
    color: #1a1a1a;
    font-size: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sort-btn:hover {
    background-color: #00ff00;
    color: #1a1a1a;
  }